# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker files
Dockerfile
docker-compose.yml

# Git files
.git
.gitignore

# Others
*.swp
*.swo
*.log
